{% extends 'base.html' %} {% block title %}Current Tag{% endblock %} {% block
content %}

<h1>{{tag.name}}</h1>

<div class="row">
  <ul>
    {% for post in tag.posts %}
    <a href="/posts/{{post.id}}"><li>{{post.title}}</li></a>
    {% endfor %}
  </ul>
</div>
<div class="row mt-3">
  <a href="/tags">
    <button class="btn btn-secondary" style="margin-right: 20px">
      Back to Tags
    </button>
  </a>
  <a href="/tags/{{tag.id}}/edit">
    <button class="btn btn-primary" style="margin-right: 20px">Edit Tag</button>
  </a>
  <a href="/tags/{{tag.id}}/delete">
    <button class="btn btn-danger">Delete Tag</button>
  </a>
</div>

{% endblock %}
